/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Main UI CSS */
/* GSAP Navigation */
header {
  /* position: fixed; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 100%;
  z-index: 80;
}

.header_wrapper {
  padding: inherit;
}

.inner_header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HAMBURGER MENU BUTTON */
.menu_trigger {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  width: 48px;
  height: 38px;
  position: relative;
  cursor: pointer;
}

.menu_trigger span {
  display: inline-flex;
  width: 28px;
  height: 2px;
  border-radius: 16px;
  background: #1e1e1e;
  transition: all ease 0.5s;
}

.menu_trigger span:nth-child(2) {
  width: 20px;
}

.menu_close span {
  position: absolute;
  background: #1e1e1e;
}

.menu_close span:nth-child(1) {
  transform: rotate(38deg);
}

.menu_close span:nth-child(3) {
  transform: rotate(-38deg);
}

.menu_close span:nth-child(2) {
  display: none;
}

/* HAMBURGER MENU LAYOUT */
.hamburger_menu {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.reveal_menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.menu_main {
  position: relative;
  background: red;
  height: 100%;
  overflow: hidden;
}

.menu_wrapper {
  position: relative;
}

.menu_tags {
  position: relative;
  top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.menu_tags nav {
  display: block;
}

.menu_tags nav li {
  position: relative;
  font-size: 6rem;
  font-weight: 300;
  width: 700px;
  height: 135px;
  overflow: hidden;
  cursor: pointer;
}

.menu_tags ul li a {
  position: absolute;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.menu_tags ul li a:hover {
  position: inherit;
  color: #1e1e1e;
}

.info {
  width: 300px;
  color: #fff;
}

.info h3 {
  font-size: 1.2rem;
  margin: 8px auto;
}

.info p {
  font-size: 0.8rem;
  margin: 0 auto;
}

/* UNDER CONSTRUCTION */
/* Stying Book redering UI */
.book_wrapper {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 0.75rem 0;
  cursor: pointer;
}

.book_poster {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.book_poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .button_1 DESIGN */
.button {
  padding: 1.3em 2.5em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: 500;
  color: #fff;
  background-color: #8846ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #8846ff;
  color: #fff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}

/* BUTTON_2 DESIGN */
.button_2 {
  padding: 1.3em 2.7em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #1e1e1e;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button_2:hover {
  background-color: #fff;
  color: #1e1e1e;
  transform: translateY(-7px);
}

.button_2:active {
  transform: translateY(-1px);
}

/* LOADER ANIMATION DESIGN */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
